//----------  variables
//------------------------------------------------------------------------------

$font-default: 'ProximaNova', Arial, sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #818181;
$grey-dark: #2e2e2e;
$grey-light: #dedede;
$grey-lighter: #f5f5f5;
$red: #d51f39;

$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;
