@font-face {
	font-family: "svgicons";
	src: url('../fonts/svgicons.eot');
	src: url('../fonts/svgicons.eot?#iefix') format('eot'),
		url('../fonts/svgicons.woff') format('woff'),
		url('../fonts/svgicons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: "svgicons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == ico-close-thin {
		$char: "\E001";
	}
	@if $filename == ico-close {
		$char: "\E002";
	}
	@if $filename == ico-download {
		$char: "\E003";
	}
	@if $filename == ico-nav {
		$char: "\E004";
	}
	@if $filename == ico-quote {
		$char: "\E005";
	}
	@if $filename == ico-search {
		$char: "\E006";
	}
	@if $filename == ico-share {
		$char: "\E007";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-ico-close-thin {
	@include font(ico-close-thin);
}
.font-ico-close {
	@include font(ico-close);
}
.font-ico-download {
	@include font(ico-download);
}
.font-ico-nav {
	@include font(ico-nav);
}
.font-ico-quote {
	@include font(ico-quote);
}
.font-ico-search {
	@include font(ico-search);
}
.font-ico-share {
	@include font(ico-share);
}
