<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6600.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="878C393DC71ED2B18E2FA46FB73D22F5EA1DF54D2E7FD29CE6C110FA445DDA6D7354EF8FA98FA42BB300470A6845E53CFCB2896EEC56FCEBCFE644E521051F1D" decryptionKey="416B0A99859C9FAF4E0992791F08D94DC257194A81572F7D6048C169B922624D" loggingCookieName=".SFLOG-/" disableHtmlSanitization="True">
	<securityTokenIssuers>
		<add key="B8E7EC7CB3A72C99BD984E374D3741D2F44BB48EA316EEE10674D90CEC1C29CE" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B8E7EC7CB3A72C99BD984E374D3741D2F44BB48EA316EEE10674D90CEC1C29CE" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="e818196f-ea9f-4dce-adce-ca1899efc619" name="Everyone" config:flags="1" />
		<role id="df942419-3238-462c-b264-74b679c79dc1" name="Anonymous" config:flags="1" />
		<role id="9132e236-5900-44b4-8878-935c1967a1ab" name="Authenticated" config:flags="1" />
		<role id="d14871a9-dd62-45ed-bab7-9fb3cef3b1db" name="Owner" config:flags="1" />
		<role id="477c441a-4f35-4a41-ac76-da73a3120320" name="Administrators" config:flags="1" />
		<role id="1a04deee-a348-4a17-8eb6-4e02bfed4233" name="BackendUsers" config:flags="1" />
		<role id="87591565-8a2f-4bb8-b663-58d38d8591bf" name="Authors" config:flags="1" />
		<role id="89050d3b-de4c-49bd-a8de-ab16db6fcb4d" name="Editors" config:flags="1" />
		<role id="735ad15e-798d-49a4-b315-73ca991fbda9" name="Designers" config:flags="1" />
		<role id="99ca4d48-5079-42af-9567-5e18522d08cb" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>