//----------  sitemap
//------------------------------------------------------------------------------
.sitemap-page {
	@include base-float;
	.sitemap-inner {
		@include base-float;
		padding: 76px 8.6% 38px;
	}
	.col {
		float: left;
		margin-bottom: 62px;
		margin-right: 3%;
		width: 28%;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
	}
	h3 {
		border-bottom: 1px solid #efefef;
		color: $red;
		font-size: 18px;
		font-weight: $semi;
		letter-spacing: 1px;
		margin-bottom: 27px;
		padding-bottom: 16px;
		text-transform: uppercase;
	}
	ul {
		@include base-float;
		li {
			@include base-float;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			line-height: 18px;
			padding-left: 16px;
			position: relative;
			&::before {
				@include icon-font;
				color: $red;
				content: '\f301';
				left: 0;
				position: absolute;
				top: 0;
			}
			&:hover {
				color: $red;
			}
		}
	}
	@include breakpoint(tablet) {
		.sitemap-inner {
			padding: 85px 8.4% 78px;
		}
		.col {
			margin-right: 4%;
			width: 48%;
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:nth-child(3n+1) {
				clear: none;
			}
		}
	}
	@include breakpoint(phone) {
		.sitemap-inner {
			padding: 57px 0 38px;
		}
		.col {
			margin-bottom: 60px;
			margin-right: 0;
			width: 100%;
		}
	}
}
